<header class="wrapper row full-center">
  <!-- Logo image -->
  <img src="assets/images/logo.png" alt="Logo image" class="logo" />

  <!-- Navigation -->
  <div class="row gap-1">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/about-us" routerLinkActive="active">About</a>
  </div>
</header>
